*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
   
}
.navcontenedor{
    background-color: #f53333;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 1.5%;
    width: 100%;
}
.nombreEmpresa {
    display: inline-block;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnLogin{
    margin-left: 80%;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}
.btnLogin:hover{
    background-color: #ad0f0f;
    padding: 5px;
    border-radius: 10px;  
}
.contenido{
    width: 100%;
}
.contenido h1{
    text-align:center;
    margin-top: 8%;
}
.contenedor_Login{
    width: 100%;
}
.recuadro{
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 35%;
    padding: 2%;
    box-shadow: 5px 3px 5px black;
    border-radius: 10px;
    border: 1px solid black;
}
.titulo_Login{
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 1px 2px gray;
}
.inputLogin{
    display: block;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    margin-left: 20px;
    background-color: rgba(230, 230, 230, 1);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 3px;
}
.ingresarbtn{
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
    border-radius: 10px;
    background: #f53333;
    width: 90%;
}

.inputLogin::after{
    background: rgba(230, 230, 230, 1);
}

.ingresarbtn:hover{
    background: #ad0f0f;
}

.nombreEmpresa2 {
    margin-left: 150px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nombreEmpresa2 a {
    display: inline-block;
}
/*.nombreEmpresa, .nombreEmpresa2 {
    display: inline-block;
}*/

.btnLogin2 {
    position: relative;
    left: 30%;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    color: #ad0f0f;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #ad0f0f;
    padding: 5px;
    border-radius: 10px;
}
.btnLogin2:hover{
    background-color: #ad0f0f;
    color: white;
    padding: 5px;
    border-radius: 10px;  
}
.btnLogin2:last-of-type {
    margin-left: 5px;
}
.btn-success{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #4CAF50;
    border-radius: 6px;
    border: 2px solid #357a37;
}

.btn-success:hover{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; 
}
.btnNuevo{
    margin-left: 45%;
}
.formulario{
    display: inline;
}
.btneditar{
    text-decoration: none;
    padding: 2px;
    color: #ffffff;
    background-color: #d5d81f;
    border-radius: 6px;
    border: 2px solid #d5d81f;
}
.btnBorrar{
    text-decoration: none;
    padding: 6px;
    color: #ffffff;
    background-color: #ec3a1b;
    border-radius: 6px;
    border: 2px solid #ec3a1b;
}
.datagrid{
   text-align: center;
   width: 80%;
   margin-left: 10%;
   border: 1px solid black;
}
.titulostabla{
    background-color: darkgrey;
}
.contornos{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    font-size: 20px;
}
tr:nth-of-type(2n+1){
    background-color: #f0f0f0;
}
th{
    height: 50px;
    font-size: 25px;
    background-color: #000000;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.btnopciones{
    position: relative;
    left: 10%;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}
.TitulosTabla{
    color: black;
}
.PiedePagina{
    background: linear-gradient(to bottom, #f53333, #5f0505);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.principal{
    height: 100%;
    width: 100%;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.segurilatam.com%2Factualidad%2Fcontrol-de-accesos-futbol-el-control-de-accesos-automatizado-facilita-acceder-a-los-estadios-de-futbol-con-seguridad_20210311.html&psig=AOvVaw2hp3pXhU-kGnXXTgWO1Kkb&ust=1635554202590000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJjo062w7vMCFQAAAAAdAAAAABAD);
}